grant{
	permission java.security.AllPermission;
};

grant codeBase "file:///C:/Users/josep/workspace/java/hmin210-tp1_1-Client/bin/" {
 	permission java.security.AllPermission;
};
